body {
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
}

#line {
    width: 60px;
    height: 6px;
    background-color: black;
    margin-left: 650px;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
    font-family: 'Gorditas', cursive;
}

img {
    width: 400px;
    height: 200px;
    margin-top: 100px;
    margin-right: 300px;
    margin-left: 250px;




}

html {
    scroll-behavior: smooth;
}

ul {

    list-style: none;
    cursor: pointer;
    color: black;
    top: 10px;
    z-index: 10;
    right: 100px;
    position: fixed;
}

.link {
    float: left;
    font-size: 20px;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-decoration-line:
        none;
}


.link:hover {
    background-color: red;
}

#myhobby {
    z-index: 5;
    top: 20px;
}

.wiki {
    width: 1000px;
    height: 500px;

}

button {
    background-color: crimson;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Lemonada', cursive;
}
.edit{

    width:300px;
    height:400px;
    transition: transform .2s;
    border-width: 5px;
    border-style:double;
        border-color:black;
    padding:20px;
    
}
.edit:hover{
    transform: scale(0.9)
}