body {
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
}

#line {
    width: 60px;
    height: 6px;
    background-color: black;
    margin-left: 650px;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
    font-family: 'Gorditas', cursive;
}

img {
    width: 400px;
    height: 200px;
    margin-top: 100px;
    margin-right:300px;
    margin-left: 250px;
    
    


}

ul {

    list-style: none;
    cursor: pointer;
    color: black;
    top: 10px;
    z-index: 10;
    right: 100px;
    
}

.link {
    float: left;
    font-size: 20px;
    padding: 10px;
    display: block;
}


.link:hover {
    background-color: red;
}

#myhobby {
    z-index: 5;
    top: 20px;
}
